In [18]:
import numpy as np
import pandas as pd

# 1)Read the dataset to the python environment

In [19]:
data=pd.read_csv(r"C:\Users\emilb\OneDrive\Desktop\ASSIGNMENT\iris.csv")

In [20]:
data

      SL   SW   PL   PW  Classification
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [21]:

data.head()

    SL   SW   PL   PW Classification
0  5.1  3.5  1.4  0.2    Iris-setosa
1  4.9  3.0  1.4  0.2    Iris-setosa
2  4.7  3.2  1.3  0.2    Iris-setosa
3  4.6  3.1  1.5  0.2    Iris-setosa
4  5.0  3.6  1.4  0.2    Iris-setosa

In [22]:
data.tail()

      SL   SW   PL   PW  Classification
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

In [23]:
data.shape

(150, 5)

# 2) Display the columns in the dataset.

In [24]:
data.columns

Index(['SL', 'SW', 'PL', 'PW', 'Classification'], dtype='object')

# 3) Calculate the mean of each column of the dataset.

In [28]:
data[['SL', 'SW', 'PL', 'PW']].mean()

SL    5.843333
SW    3.054000
PL    3.758667
PW    1.198667
dtype: float64

# 4)Check for the null values present in the dataset.

In [29]:
data.isna().sum()

SL                0
SW                0
PL                0
PW                0
Classification    0
dtype: int64